#info p {
  margin: 2px;
  text-align: center;
}

.center-the-text {
  text-align: center;
}

.color-blue {
  background-color: #3498db;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


#loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none; /* Initially hide the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
