/* Styles for the modal */
#myModal {
  display: none;
  position: fixed;
  top: 50px; /* Adjust this value as needed to position the modal at the desired distance from the top */
  left: 0;
  width: 100%;
  height: calc(100% - 50px); /* Adjust the height to fit the remaining space */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#myModal2, #myModal3, #myModal4, #myModal5, #myModal6 {
  display: none;
  position: fixed;
  top: 50px; /* Adjust this value as needed to position the modal at the desired distance from the top */
  left: 0;
  width: 100%;
  height: calc(100% - 50px); /* Adjust the height to fit the remaining space */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Changed to use auto for horizontal centering */
  padding: 20px;
  border: 1px solid #888;
  width: calc(80% - 40px); /* Calculate width considering padding */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}