/* Styles for the modal */
#myModal {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust the height to fit the remaining space */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  top: 0px;
}

#myModal2, #myModal3, #myModal4, #myModal5, #myModal6 {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust the height to fit the remaining space */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  top: 0px;
}


div .modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Changed to use auto for horizontal centering */
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#population-icon {
  height: 30px;
  margin-left: 6px;
}