#info p {
  margin: 2px;
  text-align: center;
}

#navbar {
  z-index: 2;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 10px;
}

#countrySelect {
  margin-right: 0px !important;
}

.center-the-text {
  text-align: center;
}

.color-blue {
  background-color: #3498db;
  cursor: pointer;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


#loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none; /* Initially hide the loader */
  z-index: 5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#tomorrow {
  border-style: none solid none none;
}

#today-forecast {
  width: 200px;
}

@media screen and (max-width: 767px) {
  #tomorrow {
    border-style: none none solid none;
  }

  div, p {
    text-align: center;
  }
  #today-forecast{
    width: -webkit-fill-available;
  }
}
